<p>id: <%= @short_link.id %> </p>
<p>origional_url: <%= @short_link.original_url %> </p>
<p>view_count: <%= @short_link.view_count %> </p>
<p> Shorten Link: <a href="<%= @short_link_url %>"> <%= @short_link_url %> </a> </p>